
.button__pay {
    width: 100%;
    height: 10vh;
    margin-bottom: 8vh;
}

.button__price {
    width: 100%;
    margin-bottom: 5vh;
}

.button__back {
    width: 100%;
}

ion-grid {
    --ion-grid-width: 400px;
    background-color: var(--ion-color-warning);
}