
.button__scan {
    width: 100%;
    height: 20vh;
}

.icon__scan {
    width: 100%;
    height: 20vh;
}

.grid__container {
    --ion-grid-padding: 5vw;
}

.button__price {
    width: 100%;
}

.button__back {
    width: 100%;
}

ion-grid {
    --ion-grid-width: 400px;
    background-color: var(--ion-color-warning);
}

// ion-row {
//     margin-top: 5vw;
// }