
.button__scan {
    width: 30vw;
    height: 30vw;
}

.icon__scan {
    width: 30vw;
    height: 30vw;
}

.grid__container {
    --ion-grid-padding: 5vw;
}

ion-row {
    margin-top: 5vw;
}